* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #999;
  line-height: 26px;
  font-weight: 400;
  height: 1000px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  padding: 0 15px;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.top-area {
  background: #43c3ea;
  padding: 10px 0;
}
.top-area .welcome p {
  color: #fff;
  font-size: 14px;
  margin: 0;
  display: flex;
}
.top-area .top-social-links {
  display: flex;
  justify-content: flex-end;
}
.top-area .top-social-links ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.top-area .top-social-links ul li {
  display: inline-block;
}
.top-area .top-social-links ul li a {
  color: #fff;
  margin-left: 15px;
  font-size: 14px;
  transition: color 0.3s;
}
.top-area .top-social-links ul li a :hover {
  color: #152545;
}
.header-area {
  background-color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header-area .logo {
  order: 1;
  text-align: center;
}
.header-area .logo img {
  max-width: 100%;
}
.header-area .header-contact-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  order: 2;
}
.header-area .header-contact-info ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-area .header-contact-info ul li {
  margin-right: 50px;
}
.header-area .header-contact-info ul li .text-holder h5 {
  margin: 0;
  font-size: 16px;
  color: #333;
}
.header-area .header-contact-info ul li .text-holder h6 {
  font-size: 14px;
  color: #7a7a7a;
  margin: 0;
}
.icon-holder {
  display: inline-block;
  display: flex;
  flex-grow: 0;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 14px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #f3f3f3;
  line-height: 40px;
  margin-right: 10px;
  color: #333;
  transition: border-color 0.4s;
}
.icon-holder:hover {
  background-color: #fff;
  border: 2px #000 solid;
}
.icon-holder i {
  font-size: 20px;
}
.text-holder h5 {
  font-weight: bold;
}
.header-contact-info ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-menu {
  color: #43c3ea;
}
.main-menu .navigation {
  list-style: none;
  margin: 0;
}
.submenu {
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 0;
}
.dropdown:hover .submenu ul li a {
  position: absolute;
  padding: 0 40px;
  border: none;
  display: block;
}
.mainmenu-area {
  background: #152545;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.mainmenu-area .navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainmenu-area .navigation li {
  padding: 0 26px;
  position: relative;
  font-weight: 700;
  line-height: 72px;
  border-left: 0.1px solid #999;
}
.mainmenu-area .navigation li a {
  color: #fff;
  font-size: 16px;
  display: inline-block;
  text-decoration: none;
  border: none;
}
.mainmenu-area .navigation li a:hover {
  color: #fff;
}
.mainmenu-area .submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  border: none;
  background: #43c3ea;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-top: 2px;
  animation: slideUp 0.5s ease forwards;
}
.mainmenu-area .submenu li {
  border-left: none;
  border-bottom: 1px solid #f8f8f8;
}
.mainmenu-area .navigation li:hover .submenu {
  display: block;
  list-style: none;
}
.mainmenu-area .customer-care {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  margin-left: 20px;
}
.mainmenu-area .phone-icon {
  font-size: 50px;
  padding: 0 10px;
  margin-bottom: 5px;
  color: #43c3ea;
}
.mainmenu-area .customer-care h5 {
  color: #43c3ea;
  font-weight: bold;
}
.mainmenu-area .customer-care h4 {
  font-weight: bold;
}
.mainmenu-area .top-search-box {
  display: flex;
  align-items: center;
}
.search-box {
  margin-bottom: 0;
}
.top-search-box button {
  background: #3eb9de;
  border: medium none;
  color: #fff;
  font-size: 15px;
  height: 100%;
  line-height: 72px;
  width: 72px;
  outline: medium none;
  padding: 0;
  text-align: center;
  transition: all 0.3s ease 0s;
  border: 2px solid #3eb9de;
}
.top-search-box button :hover {
  background: #152545;
  color: #fff;
}
@keyframes slideUp {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (max-width: 1200px) {
  .main-menu .navigation li {
    padding: 10px 15px;
    font-size: 14px;
  }
}
@media (max-width: 992px) {
  .header-area {
    flex-direction: column;
    align-items: center;
  }
  .main-menu .navigation {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .mainmenu-area {
    padding: 10px 0;
  }
  .customer-care {
    margin: 10px 0;
    text-align: center;
  }
  .top-bar-area .top-social-links {
    justify-content: center;
  }
  .header-contact-info ul {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 576px) {
  body {
    font-size: 12px;
  }
  .main-menu .navigation li {
    padding: 10px 0;
    text-align: center;
  }
  .top-search-box {
    margin: 10px 0;
    text-align: center;
  }
  .header-area {
    padding: 5px;
  }
}
